html {
  background-image: url("bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vw;
  background-color: black;
}

body {
  font-family: Arial, sans-serif;
  max-height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  margin: 7em 0 0 ;
}

@media (max-width: 1300px) {
  .New-Item-Form {
    width: 450px !important;
  }
  .input {
    width: 72% !important;
  }
}
@media (max-width: 800px) {
  .New-Item-Form {
    width: 380px !important;
  }
  .input {
    width: 68% !important;
  }
}
@media (max-width: 600px) {
  .New-Item-Form {
    width: 350px !important;
  }
  .input {
    width: 65% !important;
  }
}
@media (max-width: 500px) {
  .New-Item-Form {
    width: 300px !important;
  }
}
@media (max-width: 400px) {
  .New-Item-Form {
    width: 270px !important;
  }
  .input {
    width: 60% !important;
  }
}

.New-Item-Form {
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 9px 15px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin: 0px auto;
  }

/*Input*/
.input {
  width: 75%;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: black;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0 1.5rem;
  border: 2px solid transparent;
  font-size: 1rem;
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
}
.input::placeholder{
  color: rgba(0,0,0,0.5);
}
/*Input End*/
.list {
  position: relative;
  list-style-type: none;
  padding: 10px 15px;
  height: 60vh;
  max-height: 65vh;
  overflow-y: scroll;
  scrollbar-width: 5px;
}

.list::-webkit-scrollbar {
  width: 5px;
}

.list::-webkit-scrollbar-track {
  background: transparent;
}

.list::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}



.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;

  padding: 5px 15px;
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

/*Checkbox Style*/
.custom-checkbox {
  position: relative;
  display: inline-block;
  padding-left: 45px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
.custom-checkbox input:checked + span {
  /* Style when checked */
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox span {
  display: inline-block;
  line-height: 20px; /* Match the height of the checkbox */
}

.custom-checkbox span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 27px;
  width: 27px;
  transition: background-color 0.3s;
  transform: translateY(-50%); /* Vertically center the checkbox */


  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.custom-checkbox input:checked ~ span::before {
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.custom-checkbox span::after {
  content: "";
  position: absolute;
  left: 14px;
  top: 9px;
  width: 4.5px;
  height: 10px;
  border: solid rgba(255, 255, 255, 0.6);
  border-width: 0 3.2px 3.2px 0;
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
  transition: all 0.3s;
}

.custom-checkbox input:checked ~ span::after {
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

/* Optional: Add a hover effect for the checkbox */
.custom-checkbox:hover span::before {
  
  backdrop-filter: blur(18px) saturate(180%);
  -webkit-backdrop-filter: blur(18px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10mm;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
/*End checkbox*/

/*Button  Add*/

/*Button  delete*/

.button {
  width: 40px;
  height: 40px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;

  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10mm;
}
.button2 {
  height: 44px;
  width: 44px;
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;

  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10mm;
}

.button .svgIcon {
  width: 15px;
  transition-duration: .3s;
  filter: invert();
}
.button2 .svgIcon {
  width: 30px;
  transition-duration: .3s;  
  filter: invert();
}

.svgIcon path {
  fill: white;
}

.button:hover  {
  transform: scale(1.1);
  transition-duration: .3s;
  background-color: rgba(255, 69, 69,0.75);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  border-radius: 10mm;
  align-items: center;
}
.button2:hover {
  transform: scale(1.1);
  transition-duration: .3s;
  border-radius: 10mm;
  align-items: center;
}
.button:hover .svgIcon{
  transform: scale(1.15);
  transition-duration: .3s;
}
.button2:hover .svgIcon{
  transform: scale(1.1);
  transition-duration: .3s;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}
.button2:hover::before {
  font-size: 13px;
  opacity: 1;
  transition-duration: .3s;
}


.list li {
  animation: fadeIn 200ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button:focus ~ li {
  animation: fadeOut 500ms forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.button:focus ~ li {
  display: none;
}

.button:focus {
  animation: fadeOutTrigger 200ms;
}

@keyframes fadeOutTrigger {
  0%, 100% {
    opacity: 1;
  }
}

/* Add the following CSS rules */
.list li {
  position: relative;
}

[class^="button-"]:focus ~ li {
  animation: fadeOut 500ms forwards;
}

.credits{
  color: rgba(255, 255, 255, 0.5);
  text-align: center !important;
  font-size: smaller;
  margin-top: 70px;
}
.credits a{
  color: rgba(255, 255, 255, 0.5);
}